<!-- busuanzi visitor counter script -->
<script async src = "//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>

<aside id="sidebar">
    <a class="sidebar-toggle" title="Expand Sidebar"><i class="toggle icon"></i></a>
    <div class="sidebar-top">
        <p><%= __('sidebar.follow') %>:</p>
        <ul class="social-links">
            <% for (var i in theme.customize.social_links) { %>
                <% if (theme.customize.social_links[i]) { %>
                <li>
                    <a class="social-tooltip" title="<%= i %>" href="<%- url_for(theme.customize.social_links[i]) %>" target="_blank" rel="noopener">
                        <i class="icon fa fa-<%= i %>"></i>
                    </a>
                </li>
                <% } %>
            <% } %>
        </ul>
    </div>
    <% if (is_post()) { %>
        <%- partial('post/nav', {post: page}) %>
    <% } %>
    <div class="widgets-container">
        <% if (theme.widgets) { %>
            <% theme.widgets.forEach(function(widget) { %>
                <%- partial('widget/' + widget, {post: page}) %>
            <% }) %>
        <% } %>
        <!-- busuanzi counter display -->
        <div class="busuanzi-counter">
            <span id="busuanzi_container_site_pv">
                Total : <span id="busuanzi_value_site_pv"></span>
            </span>
            <span id="busuanzi_container_site_uv">
                Visitors : <span id="busuanzi_value_site_uv"></span>
            </span>
        </div>
    </div>
</aside>
